
.newUser_form{
    margin: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2em;

    .newUser_title{
        text-align: center;
        padding: 1em;
    }

    .newUser_form_mainContainer{
        display: flex;
        
        .newUser_form_lgroup{
            width: 50%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 3em;

            .newUser_form_container{
                display: flex;
                justify-content: space-around;

                .formInput{
                    border: none;
                    border-bottom: 1px solid #ccc;
                    width: 50%;
                    outline: none;
                }
            }
        }

        .newUser_form_rgroup{
            width: 50%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 3em;

            .newUser_form_container{
                display: flex;
                justify-content: space-around;

                .formInput{
                    border: none;
                    border-bottom: 1px solid #ccc;
                    width: 50%;
                    outline: none;
                }
            }
        }
    }

    .newUser_form_btn{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1em;
    }

}