.sidebarComponent {
  // flex: 1;
  width: 27%;
  height: calc(100vh - 50px);
  background-color: #294864;
  position: sticky;
  top: 50px;

  .wrapper {
    padding: 20px;
    color: white;

    .menu {
      margin-bottom: 10px;

      h3 {
        font-size: 13px;
        color: rgb(184, 184, 184)
      }
      
      .sidebar_item {
        padding: 1em;
        // padding-left: 1.5em;
        display: flex;
        color: #FFFFFF;
        list-style: none;
        text-decoration: none;
        align-items: center;
        text-align: center;
        justify-content: flex-start;
        cursor: pointer;
      }
      .sidebar_item:hover {
        background-color: #004B77;
        // color: black;
      }
      .sidebar_item_active {
        padding: 1em;
        // padding-left: 1.5em;
        display: flex;
        color: white;
        list-style: none;
        text-decoration: none;
        align-items: center;
        justify-content: flex-start;
        background-color: #004B77;
        cursor: pointer;
      }
      
      .sidebar-item-label {
        font-size: 1em;
        // font-weight: 600;
        margin-left: 15px;
      }
    }
  }
}