.sidebarComponent {
  // flex: 1;
  width: 25%;
  height: calc(100vh - 50px);
  background-color: #294864;
  position: sticky;
  top: 50px;

  .wrapper {
    padding: 20px;
    color: white;

    .menu {
      margin-bottom: 10px;

      h3 {
        font-size: 13px;
        color: rgb(184, 184, 184)
      }

      .link{
        text-decoration: none;
        color: inherit;
      }

      ul {
        list-style: none;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        li {
          padding: 5px;
          cursor: pointer;
          display: flex;
          border-radius: 10px;
          gap: 1em;
          transition: 0.1s ease-in-out;

          .icon {
            font-size: 20px;
          }
          
          &.active, &:hover {
            background-color: rgb(228, 228, 228);
            color: black;
          }
        }
      }
    }
  }
}