.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

}

.listDemande{
  margin: 1em;
  display: flex;
  justify-content: space-between;
  
  .demande_mat{
    background-color: white;
    padding: 1em;
    width: 48%;
  }
  .assign_mat{
    background-color: white;
    padding: 1em;
    width: 48%;
  }
}