// .list_materiel{
//     .containerApp {
//         display: flex;
//         margin-top: 10px;
    
//         .containerApp_right{
//           max-width: 80%;
//           flex: 4;

          
//         }
//       }
// }

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

}

.deleteButton{
  color: red;
  margin: 2px;
}

.editButton{
  color: blue;
  margin: 2px;
  cursor: pointer;
}

.detailButton{
  color: green;
  margin: 2px;
}